@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
.card * {
  position: absolute;
}

.card {
  margin: 0 auto;
  width: 500px;
  height: 400px;
  color: #77c7fc;
  background-color: #a8dcff;
  border-radius: 16px;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
  -webkit-box-shadow: 0 10px 16px #c9e9ff;
          box-shadow: 0 10px 16px #c9e9ff;
  overflow: hidden;
}

.card-text {
  height: 200px;
  width: 300px;
  font-family: 'Noto Sans TC', sans-serif;
  color: #474747;
  font-weight: bold;
  font-size: 30px;
  top: 7%;
  left: 7%;
}

.card-text span {
  display: block;
  font-size: 24px;
  opacity: .6;
}

.card-bottom {
  height: 33%;
  width: 99.5%;
  background-color: #77c7fc;
  bottom: 0;
  border: 1px solid;
  border-radius: 0 0 16px 16px;
}

.week {
  height: 100%;
  width: 16.7%;
}

.week-mon {
  left: 0;
}

.week-tue {
  left: 16.7%;
}

.week-wed {
  left: 33.4%;
}

.week-thu {
  left: 50.1%;
}

.week-fri {
  left: 66.8%;
}

.week-sat {
  left: 83.5%;
}

.cloud {
  height: 15%;
  width: 30%;
  background-color: white;
  border-radius: 100px;
  opacity: .7;
}

.cloud::after, .cloud::before {
  content: '';
  position: absolute;
  background: #fff;
}

.cloud:before {
  border-radius: 50%;
  width: 40%;
  height: 100%;
  right: 15%;
  top: -55%;
}

.cloud:after {
  height: 70%;
  width: 30%;
  border-radius: 50%;
  left: 18%;
  top: -45%;
}

.cloud-top {
  right: 10%;
  top: 15%;
  -webkit-animation: rightLeft 10s linear infinite alternate;
          animation: rightLeft 10s linear infinite alternate;
}

.cloud-bottom {
  top: 45%;
  right: 50%;
  -webkit-animation: leftRight 10s linear infinite alternate;
          animation: leftRight 10s linear infinite alternate;
}

@-webkit-keyframes rightLeft {
  0% {
    margin-right: -10%;
  }
  100% {
    margin-right: 60%;
  }
}

@keyframes rightLeft {
  0% {
    margin-right: -10%;
  }
  100% {
    margin-right: 60%;
  }
}

@-webkit-keyframes leftRight {
  0% {
    margin-right: 20%;
  }
  100% {
    margin-right: -50%;
  }
}

@keyframes leftRight {
  0% {
    margin-right: 20%;
  }
  100% {
    margin-right: -50%;
  }
}

.sun-icon {
  height: 10%;
  width: 15%;
  border-radius: 50%;
  background-color: yellow;
  border: 2px solid yellow;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sun-icon::before {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  width: 7px;
  background-color: yellow;
  top: 50%;
  left: -100%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.sun-icon::after {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  width: 7px;
  background-color: yellow;
  top: 50%;
  right: -100%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.sun-ray {
  width: 2px;
  height: 7px;
  background-color: yellow;
}

.top {
  top: -70%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.top-left {
  top: -35%;
  left: -50%;
  -webkit-transform: translate(50%, -50%) rotate(-45deg);
          transform: translate(50%, -50%) rotate(-45deg);
}

.top-right {
  top: -40%;
  right: -45%;
  -webkit-transform: translate(50%, -50%) rotate(45deg);
          transform: translate(50%, -50%) rotate(45deg);
}

.bottom {
  bottom: -120%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.bottom-left {
  bottom: -90%;
  left: -50%;
  -webkit-transform: translate(50%, -50%) rotate(45deg);
          transform: translate(50%, -50%) rotate(45deg);
}

.bottom-right {
  bottom: -90%;
  right: -45%;
  -webkit-transform: translate(50%, -50%) rotate(-45deg);
          transform: translate(50%, -50%) rotate(-45deg);
}

.cloudy-icon {
  height: 10%;
  width: 40%;
  border-radius: 100px;
  border: 3px solid white;
  background-color: white;
  top: 52%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.cloudy-icon::before {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 40%;
  border-radius: 50%;
  background-color: white;
  border: 3px solid white;
  top: -20%;
  left: 45%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.rain1 {
  height: 15px;
  width: 3px;
  background-color: #0047ab;
  top: 50%;
  left: 20%;
  -webkit-transform: translateX(-50%) rotate(10deg);
          transform: translateX(-50%) rotate(10deg);
}

.rain2 {
  height: 20px;
  width: 3px;
  background-color: #0047ab;
  top: 50%;
  left: 40%;
  -webkit-transform: translateX(-50%) rotate(10deg);
          transform: translateX(-50%) rotate(10deg);
}

.rain3 {
  height: 15px;
  width: 3px;
  background-color: #0047ab;
  top: 50%;
  left: 65%;
  -webkit-transform: translateX(-50%) rotate(10deg);
          transform: translateX(-50%) rotate(10deg);
}

.sun {
  height: 100%;
  width: 45%;
  background-color: yellow;
  border-radius: 50%;
  top: -110%;
  right: 0;
  z-index: -1;
}

.sun::before {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 7px;
  background-color: yellow;
  top: -30%;
  left: -10%;
  -webkit-transform: translate(0%, -50%) rotate(-45deg);
          transform: translate(0%, -50%) rotate(-45deg);
}

.sun::after {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 7px;
  background-color: yellow;
  top: -50%;
  left: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.ray1 {
  width: 2px;
  height: 7px;
  background-color: yellow;
  top: -20%;
  right: -20%;
  -webkit-transform: translate(50%, -50%) rotate(45deg);
          transform: translate(50%, -50%) rotate(45deg);
}

.ray2 {
  width: 2px;
  height: 7px;
  background-color: yellow;
  top: 45%;
  right: -50%;
  -webkit-transform: translate(50%, -50%) rotate(90deg);
          transform: translate(50%, -50%) rotate(90deg);
}

.ray3 {
  width: 2px;
  height: 7px;
  background-color: yellow;
  top: 110%;
  right: -30%;
  -webkit-transform: translate(50%, -50%) rotate(135deg);
          transform: translate(50%, -50%) rotate(135deg);
}

.day {
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: 'Noto Sans TC', sans-serif;
  color: #474747;
  font-weight: bold;
  font-size: 14px;
}

.degrees {
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: 'Noto Sans TC', sans-serif;
  color: #474747;
  font-weight: bold;
  font-size: 15px;
}
/*# sourceMappingURL=style.css.map */